torch==2.3.*
torchaudio==2.3.*
einops>=0.7.0
numpy>=1.26
scipy>=1.11
librosa>=0.10.1
numba>=0.58
madmom>=0.16.1
soundfile>=0.12
tqdm>=4.66
pyyaml>=6.0.1
pydantic>=2.8
omegaconf>=2.3.0
accelerate>=0.33
huggingface_hub>=0.23
laion-clap>=1.1.5
essentia>=2.1b6
protobuf<5
pandas>=2.2
matplotlib>=3.8
webrtcvad>=2.0.10

pretty_midi>=0.2.10
